@using Homework.ViewModels
@using System.Data;
@model HomeworklViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Homework</h2>







<div class="container-fluid" role="main">
    <table class="table-bordered nav-divider col-lg-12">

        <thead>
            <tr style="text-align:center">
                <td class="col-md-1" style="text-align:center"><label>編號</label></td>
                <td class="col-md-1" style="text-align:center"><label>類別</label></td>
                <td class="col-md-1" style="text-align:center"><label>日期</label></td>
                <td class="col-md-1" style="text-align:center"><label>金額</label></td>
                @*<td class="col-md-1" style="text-align:center"><label>備註</label></td>*@


            </tr>
        </thead>


        @foreach (HomeworklViewModel temp in Model.Worklist)
        {


            <tbody>
                <tr style="text-align:center">
                    <td><label>@temp.Id</label></td>
                    <td><label>@temp.Categoryyy</label></td>
                    <td><label>@temp.Dateee</label></td>
                    <td><label>@temp.Amounttt</label></td>
                    @*<td><label>@temp.Remarkkk</label></td>*@
                </tr>
            </tbody>
        }


    </table>
</div>















